# Deployment env (local vs cloud)
DEPLOY_ENV=local
#DEPLOY_ENV=cloud

# Azure Deployment API Environment Variables
AZURE_CLIENT_ACR_NAME=something
AZURE_CLIENT_RESOURCE_GROUP=something
AZURE_CLIENT_ENVIRONMENT_NAME=something

AZURE_SERVER_ACR_NAME=something
AZURE_SERVER_RESOURCE_GROUP=something
AZURE_SERVER_ENVIRONMENT_NAME=something