### Deployment env (local vs cloud)
DEPLOY_ENV=local
#DEPLOY_ENV=cloud

################################################################

### Port configs
## Local Docker 
PORT_CLIENT=3000
PORT_SERVER=5000

## Cloud ports
#PORT_CLIENT=8080
#PORT_SERVER=8080

################################################################

#### Azure Deployment API Environment Variables

### Container Registries
ACR_REPOSITORY_CLIENT=something
ACR_REPOSITORY_SERVER=something