# Secrets (replace with your own secure values)
FLASK_ADMIN_SECRET="your_flask_admin_secret"
MYSQL_ADMIN_SECRET="your_mysql_password"

# Deployment environment
# Use "cloud" when running in Cloud Run
# Use "local" when running locally
DEPLOYMENT="local"
DEPLOYMENT_ENV="dev"
